* {
    padding : 0;
    margin : 0;
}

body {
    background : white;
    color : black;
    text-align: center;
    background-color:pink ;
    margin-top: 50px;
}
img{
width: 50%;
margin-top: 50px;
}